<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateToInicio()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Base de datos de videojuegos Dofus</h1>
  <p>Contamos con una detallada base de datos.</p>
<!-- </ion-content>

<ion-content> -->
  <div  
    id="mapId" 
    style="height:100%">
  </div>
    <ion-item 
        style="cursor: pointer">
    </ion-item>
    <ion-item>
      <ion-label position="stacked">IES Los Remedios - Ubrique (11600)</ion-label>
    </ion-item>

</ion-content>

<ion-footer class="pie">
  <ion-toolbar>
    <ion-buttons class="botones-footer">
      <ion-button class="button-footer" (click)=navigateToConfigurador()>
        <ion-icon name="laptop" size="large"></ion-icon>
      </ion-button>

      <ion-button class="button-footer" (click)=navigateToInformacion()>
        <ion-icon name="watch" size="large"></ion-icon>
      </ion-button>
      
      <ion-button class="button-footer" (click)=navigateToAbout()>
        <ion-icon name="today" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>