<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateToInicio()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ubicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Ubicación donde se encuentra nuestra base de datos ubicada</h1>
  <p>Sitio Oficial.</p>

  <div  
    id="mapId" 
    style="height:100%">
  </div>

  <ion-item 
      style="cursor: pointer">
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">IES Los Remedios - Ubrique (11600)</ion-label>
  </ion-item>

</ion-content>

<ion-footer class="pie">
  <ion-toolbar>
    <ion-buttons class="botones-footer">
      <ion-button class="button-footer" (click)=navigateToArmory()>
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>

      <ion-button class="button-footer" (click)=navigateToInformacion()>
        <ion-icon name="call" size="large"></ion-icon>
      </ion-button>
      
      <ion-button class="button-footer" (click)=navigateToUbicacion()>
        <ion-icon name="paper-plane" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>