<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateToInicio()"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del personaje seleccionado</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content fullscren>
    <div>

      <ion-item *ngIf="document.data.foto != undefined">
        <ion-label position="fixed"><strong>Imagen: </strong></ion-label>
        <img [src]="document.data.foto" alt="" width="100px" height="170px">
      </ion-item>

      <ion-text hidden color="medium">Id: {{ id }}</ion-text>
      <ion-item>
        <ion-label position="floating"><strong>Nombre: </strong></ion-label>
        <ion-input [disabled]="userUID === ''" required [(ngModel)]="document.data.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><strong>Sexo: </strong></ion-label>
        <ion-input [disabled]="userUID === ''" required [(ngModel)]="document.data.sexo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><strong>Nivel:  </strong></ion-label>
        <ion-input [disabled]="userUID === ''" required [(ngModel)]="document.data.nivel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><strong>Raza:  </strong></ion-label>
        <ion-input [disabled]="userUID === ''" required [(ngModel)]="document.data.raza"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><strong>Clase:  </strong></ion-label>
        <ion-input [disabled]="userUID === ''" required [(ngModel)]="document.data.clase"></ion-input>
      </ion-item>

      <br>

      <div>
        
        <ion-buttons>

          <ion-button *ngIf="id == 'nuevo' && userUID !== ''" (click)="alertaInsertar()">
            <ion-icon name="save"></ion-icon>
          </ion-button>

          <ion-button *ngIf="id != 'nuevo' && userUID !== ''"  (click)="alertaModificar()">
            <ion-icon name="save"></ion-icon>
          </ion-button>

          <ion-button *ngIf="userUID !== ''" (click)="alertaBorrar()">
            <ion-icon name="trash"></ion-icon>
          </ion-button>

          <ion-button [disabled]="userUID === ''" (click)="uploadImagePicker()">
            <ion-icon name="cloud-upload" size="large"></ion-icon>
          </ion-button>

        </ion-buttons>

        <br>

        <ion-buttons slot="end">

          <ion-button (click)="regularShare()">
            <ion-icon name="share"></ion-icon>
          </ion-button>

          <ion-button (click)="whatsappShare()">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
          
        </ion-buttons>

      </div>
    </div>
  </ion-content>
