<ion-header>
  <ion-toolbar>
    <ion-title>
      WoW Base de datos
    </ion-title>
    <ion-buttons slot="end">

      <ion-button title="Log Out" *ngIf="userUID !== ''" (click)="logout()"> Cerrar Sesión <ion-icon name="log-out"></ion-icon></ion-button>
      <ion-button title="Sing In" *ngIf="userUID == ''" (click)="navigateToLogin()">Iniciar Sesión <ion-icon name="log-in"></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <p hidden>{{ userUID }}</p>
  <h1>Lista de Personajes</h1>
  <ion-list>
    <!-- Crear personaje, que mostrará Nombre del personaje creado y el sexo -->
    <ion-item *ngFor="let documentPersonajes of arrayColeccionPersonajes" (click)="navigateToEspecifico(documentPersonajes.id)">
      <ion-grid>

        <ion-row>
          <h2>{{documentPersonajes.data.nombre}}</h2>
        </ion-row>

        <ion-row>
          <p>{{documentPersonajes.data.sexo}}</p>
        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="userUID !== ''" (click)="navigateToEspecifico('nuevo')" color="primary">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="pie">
  <ion-toolbar>
    <ion-buttons class="botones-footer">
      <ion-button class="button-footer" (click)=navigateToArmory()>
        <ion-icon name="menu" size="large"></ion-icon>Armory
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToInformacion()>
        <ion-icon name="call" size="large"></ion-icon>Información
      </ion-button>
      <ion-button class="button-footer" (click)=navigateToUbicacion()>
        <ion-icon name="paper-plane" size="large"></ion-icon>Ubicación
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>